@import '../../../../style/variables.scss';

.wrapper_calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-left: 1px solid $neutral200;
  border-top: 1px solid $neutral200;
  border-radius: 10px;
  .day {
    border-bottom: 1px solid $neutral200;
    border-right: 1px solid $neutral200;
    text-align: center;
    height: 125px;
    width: 190px;
    font-size: 14px;
    transition: background-color 200ms, color 200ms;
    text-align: initial;
    padding: 4px;
    overflow: hidden;
    // &:hover {
    //   background-color: $mainBlue;
    //   * {
    //     color: $light100 !important;
    //   }
    // }
    .numberDay {
      color: $dark100;
      line-height: 1em;
      font-size: 14px;
    }
    .events {
      display: flex;
      flex-direction: column;
      max-height: 93px;
      overflow: auto;
      margin-top: 4px;
      gap: 1px;
    }
    .task {
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $dark200;
      line-height: 1em;
      padding: 4px;
      &:hover {
        cursor: pointer;
        background-color: $blue200;
        color: $light100;
        border-radius: 6px;
      }
    }
    .event {
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $dark100;
      line-height: 1em;
      padding: 4px;

      background-color: $blue100;
      border-radius: 6px;
      &:hover {
        cursor: pointer;
        background-color: $blue200;
        color: $light100;
        border-radius: 6px;
      }
    }

    &:nth-child(1) {
      border-radius: 10px 0 0 0;
    }
    &:nth-child(7) {
      border-radius: 0 10px 0 0;
    }

    &:nth-child(36) {
      border-radius: 0 0 0 10px;
    }
    &:nth-child(42) {
      border-radius: 0 0 10px 0;
    }
  }
}

@media (max-width: 1600px) {
  .wrapper_calendar {
    .day {
      height: 90px;
      font-size: 12px;
      width: 140px;
      .events {
        max-height: 60px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .wrapper_calendar {
    .day {
      height: 70px;
      width: 60px;
      font-size: 12px;
      .numberDay {
        font-size: 10px;
        text-wrap: initial;
      }
    }

    .lesson {
      display: none;
    }
  }
}

@media (max-width: 580px) {
  .wrapper_calendar {
    .day {
      height: 60px;
      width: 40px;
      font-size: 10px;
      padding: 1px;
      .numberDay {
        font-size: 8px;
      }
    }

    .lesson {
      display: none;
    }
  }
}
