@import '../../style/variables.scss';

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // font-family: "Roboto", sans-serif;
}
.content {
  display: flex;
  background: white;
  width: 50%;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 30px;
  svg {
    scale: 1.6;
  }
}
.right {
  width: 50%;
  border-left: 2px solid $mainBG;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    h2 {
      margin: 0;
    }
    span {
      text-align: center;
      font-size: 28px;
      margin: 0;
    }
  }

  .another {
    overflow: hidden;
    text-align: center;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    &::before,
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 1px;
      background-color: black;
      position: relative;
    }
    &::before {
      margin-left: -100%;
      left: -14px;
    }
    &::after {
      margin-right: -100%;
      right: -14px;
    }
  }
  .descripton {
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    span {
      color: $blue300;
      &:hover {
        cursor: pointer;
        color: $blue200;
      }
    }
  }
}

@media (max-width: 1440px) {
  .form {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
}
