@import '../../style/variables.scss';

.button {
  font-size: 12px;
  line-height: 14px;
  padding: 6px 12px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: $blue300;
  color: $light100;
  border: none;
  border-radius: 2px;
  &-add {
    margin-right: 10px;
  }
  &:hover {
    cursor: pointer;
    background-color: $blue200;
  }
}
