@import '../../style/variables.scss';

.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 2;
  background: rgba(2, 113, 199, 0.3);
}
.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 24px;
  background: white;
  i {
    display: flex;
    justify-content: flex-end;
  }
  input {
    margin-top: 8px;
  }
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
