$mainBG: #ecf4ff;
$fiol: #6a81cb;
$mainBlue: #3479ff;
$grey: #585858;

$light100: #ffffff;
$neutral100: #f4f4f4;
$neutral200: #cfcfcf;
$blue100: #c2e4fe;
$blue200: #27a1ff;
$blue300: #0271c7;
$red100: #e94e4e;
$dark100: #6b6b6b;
$dark200: #292929;
